html,
body {
  margin: 0;
  font-size: 14px;
  color: #525252;
  background: #f0f2f5;
}

.ant-layout-content-index {
  color: #fff;
  line-height: 120px;
  margin: 30px 80px 20px 50px;
}

.tags-topic {
  margin-right: 50px;
  height: 100%;
}

#wrap {
  height: 100%;
}
@media (max-width: 1000px) {
  #wrap {
    min-height: 100%;
    width: 100%;
    position: relative;
  }
  .sider {
    display: none;
    background-color: #ffffff;
  }

  .navbar-category {
    display: none;
  }

  .navbar-right {
    display: none;
  }

  .tags-topic {
    margin: 0;
  }
}

.container {
  height: 100%;
}

.sider {
  background-color: #ffffff;
  color: black;
 }

.navbar-default {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.display-none {
  display: none
}

.margin-right16 {
  margin-right: 16px;
}

.header-icon {
  text-align: center;
  width: 75px;
}


.margin-top16 {
  margin-top: 16px;
}

.form-group {
  display: inline-block;
  vertical-align: middle;
  margin: 13px 0;
}

.layout-header {
  padding: 0;
  background-color: #f0f2f5;
  width: 100%;
}

.ant-layout-header {
}
.menu {
  line-height: 64px;
  border-bottom: 0px;
}
