html,
body {
  margin: 0;
  height: 100%;
  font-size: 14px;
  color: #525252;
  background: #f0f2f5;
}

@media (min-width: 768px) {
  #wrap {
    min-height:100%;
    position:relative;
  }
}

.container {
  //background-color: red;
  display: flex;
  flex-flow: row wrap;
  margin: 20px 80px 10px 70px;
}

#wrap {
  height: auto;
  margin: 0 auto;
  padding: 0 0 0px;
}
@media (min-width: 768px) {
  .main-container {
    padding-bottom:228px;
  }
  .footer {
    position:absolute;
    bottom:0;
    height: 206px;
  }

  #wrap {
    min-height:100%;
    position:relative;
  }
}
.navbar-default{
  background-color: #fff;
  display: flex;
  align-items: center;
}
.display-none {
  display: none
}

.margin-right16 {
  margin-right: 16px;
}

.header-icon {
  text-align: center;
  width: 75px;
}


.margin-top16 {
  margin-top: 16px;
}

.form-group {
  display: inline-block;
  vertical-align: middle;
  margin: 13px 0;
}

.row-flex {
  margin: 20px 80px 10px 50px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 70%;
  display: flex;
  flex-flow: row wrap;
}